<!DOCTYPE html>
<html class="full-size">
<head>
<title>Unit Test Browser Page</title>
<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><circle r='1' fill='%23AAA'/></svg>" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../vue/control.css" />
<link rel="stylesheet" type="text/css" href="../vue/layout.css" />
<script type="text/javascript" src="../lib/vue.global.prod.js"></script>
<script type="text/javascript" src="../lib/vue.global.prod.js"></script>
<script type="text/javascript" src="../common/builtin.js"></script>
<script type="text/javascript" src="../common/builtin.js"></script>
<script type="text/javascript" src="../common/global.js"></script>
<script type="text/javascript" src="../common/global.js"></script>
<script type="text/javascript" src="../common/parse.js"></script>
<script type="text/javascript" src="../common/parse.js"></script>
<script type="text/javascript" src="../common/performance.js"></script>
<script type="text/javascript" src="../common/performance.js"></script>
<script type="text/javascript" src="../common/promise.js"></script>
<script type="text/javascript" src="../common/promise.js"></script>
<script type="text/javascript" src="../common/stat.js"></script>
<script type="text/javascript" src="../common/stat.js"></script>
<script type="text/javascript" src="../common/text.js"></script>
<script type="text/javascript" src="../common/text.js"></script>
<script type="text/javascript" src="../client/builtin.js"></script>
<script type="text/javascript" src="../client/builtin.js"></script>
<script type="text/javascript" src="../client/canvas.js"></script>
<script type="text/javascript" src="../client/canvas.js"></script>
<script type="text/javascript" src="../client/idb.js"></script>
<script type="text/javascript" src="../client/idb.js"></script>
<script type="text/javascript" src="../client/modal.js"></script>
<script type="text/javascript" src="../client/modal.js"></script>
<script type="text/javascript" src="../client/music.js"></script>
<script type="text/javascript" src="../client/music.js"></script>
<script type="text/javascript" src="../client/quick_vue.js"></script>
<script type="text/javascript" src="../client/quick_vue.js"></script>
<script type="text/javascript" src="../client/shortcuts.js"></script>
<script type="text/javascript" src="../client/shortcuts.js"></script>
<style>
* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0px;
  padding: 20px;
  display: flex;
}
table {
  border: 0.1px solid #444;
  border-spacing: 0px;
}
th,td {
  border: 0.1px solid #888;
  text-align: center;
}
td.green {color: green;}
td.red {color: red;}
ul {margin-block: 0px;}
</style>
<script type="text/javascript" id="test">
const tests = {
  'common/builtin': {
    'Array.shuffle': ()=>{
      let sums = [0,0,0,0,0];
      const TEST_SIZE = 10000;
      for (var i=0;i<TEST_SIZE;i++) {
        [1,2,4,8,16,32,64,128,256,512].shuffle().forEach((x,i)=>sums[i]+=x);
      }
      return sums.map(x=>x/TEST_SIZE/102.4).filter(x=>(x<0.95) || (x>1.05)).length==0;
    },
    'Object.exists': ()=>{
      return ([3,,].exists(x=>x==3)
           && [].exists(x=>true)===false
           && ({a:1}).exists(x=>x==1)===true);
    },
    'Object.groupBy': ()=>{
      return (['12','23','33'].groupBy(1).mapArray().join('|')=='12|23,33'
           && ({a:'1',b:'222',c:'4'}).groupBy(x=>x.length, (x,i)=>i).mapArray().join('|')=='a,c|b');
    },
    'Promise.wrap': async ()=>{
      let status = '';
      let p111 = Promise.wrap();
      let p11 = Promise.wrap(p111);
      let p1 = Promise.wrap(p11);
      p1.then(r=>status+=`p1r=${r}.`, e=>status+=`p1e=${e}.`);
      p11.then(r=>status+=`p11r=${r}.`, e=>status+=`p11e=${e}.`);
      p111.then(r=>status+=`p111r=${r}.`, e=>status+=`p111e=${e}.`);
      p1.resolve('r1');
      p111.reject('e1');
      await Promise.allSettled([p1,p11,p111]);
      return (status=='p1r=r1.p111e=e1.p11e=e1.');
    },
  },
};
const timeTests = {
  'Array.shuffle': async ()=>{
    x = Array(100000).fill(0).map(x=>Math.random());
    console.log(await performance.enumerateFunction(()=>x.shuffle(),{minTestTime: 1000}));
  }
}
async function runTests() {
  tests.mapArray((fileTests,outcomeFile)=>{
    fileTests.mapArray(async (test,outcomeFeature)=>{
      all.ui.outcome.touch(outcomeFile, {green: 0, red: 0, failures: []});
      try {
        if (!(await test())) throw 'bad outcome';
        all.ui.outcome[outcomeFile].green++;
      }
      catch (e) {
        console.warn([outcomeFeature,e]);
        all.ui.outcome[outcomeFile].red++;
        all.ui.outcome[outcomeFile].failures.push(outcomeFeature);
      }
    });
  });
}
</script>
<script id="util">
Object.assign(Vue.endAddOn.commonMethods, {
  async keydown(e) {
    if (e.ctrlKey) {
      if (e.key=='b') {
        let items = await navigator.clipboard.read();
        types = items[0].types;
        console.log(types);
        console.log(await types.map(type=>items[0].getType(type)).done());
      }
    }
  },
  async paste(e) {
    Array.from(e.clipboardData.items).forEach(item=>{
      if (item.kind=='file') {
        // testing client/builtin.js DataTransferItem.getAsFiles
        item.files.then(files=>console.table(files));
      } else {
        console.log(item);
      }
    });
  }
});
</script>
<script type="text/javascript" id="main">
builtin_initMore.sql();
async function initPage() {
  g.ui = {
    themeFaceHue: 120,
    outcome: {},
    contextmenus: [],
  };
  globalThis.all = g;
  
  Vue.endAddOn.useBasicMethods();
  await Vue.endAddOn.load();
  window.apps = Vue.endAddOn.createApp({
    mountSelectors: ['#screen'],
  });
  
  await Vue.nextTick();
  runTests();
}
</script>
</head>
<body class="full-size" onload="initPage();">
<vueTemplates>
<vueTemplate id="v-screen">
  <div class="full-size" v-focus tabindex="-1"
    @contextmenu="showContextmenu({},$event,{menuButtons:[
      {text:'Testing',click:()=>{console.log('test!')}},
    ]});"
    @keydown="keydown"
    @paste="paste"
    >
    <table>
    <thead>
      <th>File</th>
      <th>Passed</th>
      <th>Failed</th>
      <th>Features Failed</th>
    </thead>
    <tbody>
      <tr v-for="v,k in all.ui.outcome">
        <td>{{ k }}</td>
        <td class="green">{{ v.green }}</td>
        <td class="red">{{ v.red }}</td>
        <td class="red">
          <ul>
            <li v-for="failure in v.failures">{{ failure }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  <screen-layer style="--base-z-index:20;">
    <t-cover :all="all"></t-cover>
    <t-contextmenu :all="all" :w="all.ui.contextmenus"></t-contextmenu>
  </screen-layer>
</vueTemplate>
</vueTemplates>
<div id="screen" class="flex row flex-stretch full-size">
  <v-screen :all="all"><h3>Loading Vue framework...</h3></v-screen>
</div>
</body>
</html>
