contextmenu {
  position: absolute;
  display: block;
  box-shadow: 2px 2px 4px rgba(100,100,100,.7);
  background: white;
  border-radius: 12px;
  padding: 4px;
}
contextmenu-button {
  display: block;
  border-radius: 8px;
  padding: 3px 12px;
  cursor: pointer;
}
contextmenu-button:hover {
  background: hsl(var(--theme-face-hue),30%,90%);
}
grid-layout {
  display: grid;
  /* grid-auto-columns: auto; */
  /* grid-auto-rows: auto; */
  /* auto fails since it allows auto-wrap */
  grid-template-columns: repeat(50, auto);
  grid-template-rows: repeat(50, auto);
}
grid-row {
  display: contents;
}
grid-heading {
  display: contents;
  font-weight: bold;
}
grid-row > :first-child, grid-heading > :first-child {
  grid-column-start: 1;
}
vueTemplate {
  display: none;
}