
combo[type=range-slider] {
  display: flex;
  position: relative;
  width: 170px;
  height: 20px;
  align-items: center;
  --text-width: 20px;
  div.slider {
    flex: 100 0 var(--text-width);
    height: 100%;
    margin: 0px 6px;
  }
  input[type=text] {
    width: var(--text-width);
    padding: 0px;
    text-align: center;
    border-radius: 2px;
  }
  input[type=range] {
    position: absolute;
    height: 6px;
    width: 100%;
    bottom: 5px;
    background: none;
    -webkit-appearance: none;
    border-radius: 10px;
    outline: none;
    &.outer-bar {background: #DDDDDD;}
    &.inner-bar {background: #AAAAAA;}
  }
  input[type=range]::-webkit-slider-thumb {
    background: hsl(var(--theme-face-hue, 240), 70%, 50%);
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 50%; 
    width: 12px;
    height: 12px;
    transition: background .5s;
  }
  input[type=range].min::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
  input[type=range].outer-bar::-webkit-slider-thumb,
  input[type=range].inner-bar::-webkit-slider-thumb {
    background: none;
    width: 10px;
    height: 10px;
  }
  input[type=range]:hover::-webkit-slider-thumb {
    background: hsl(var(--theme-face-hue, 240), 100%, 20%);
  }
}

contextmenu {
  position: absolute;
  display: block;
  box-shadow: 2px 2px 4px rgba(100,100,100,.7);
  background: white;
  border-radius: 12px;
  padding: 4px;
}
contextmenu-button {
  display: block;
  border-radius: 8px;
  padding: 3px 12px;
  cursor: pointer;
}
contextmenu-button:hover {
  background: hsl(var(--theme-face-hue),30%,90%);
}

grid-layout {
  display: grid;
  /* grid-auto-columns: auto; */
  /* grid-auto-rows: auto; */
  /* auto fails since it allows auto-wrap */
  grid-template-columns: repeat(50, auto);
  grid-template-rows: repeat(50, auto);
}
grid-heading {
  font-weight: bold;
  user-select: none;
}
grid-row, grid-heading {
  display: contents;
  > :first-child {
    grid-column-start: 1;
  }
}
grid-row.modal-field {
  label {
    display: contents;
  }
}

vueTemplate {
  display: none;
}

.grey-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.3);
  pointer-events: unset;
}
.modal {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 20px black; /* (h-offset, v-offset, blur-size, size-adjust) */
  min-width: 300px;
}
.modal-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 5px;
  user-select: none;
  button {
    padding: 5px 10px;
    margin: 5px;
    background: hsl(var(--theme-face-hue, 240), 80%, 80%);
  }
}
.modal-body {
  width: 100%;
  padding: 5px 10px;
  min-height: 80px;
  > .modal-message {
    margin-bottom: 10px;
  }
  > grid-layout {
    align-items: baseline;
    grid-template-columns: minmax(auto,max-content) max-content;
    grid-column-gap: 5px;
  }
  input[type=range] {
    vertical-align: text-bottom;
  }
}
.modal-caption {
  background: hsl(var(--theme-face-hue, 240), 80%, 80%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
}
