/* class shortcuts */
.absolute {
  position: absolute;
}
.full-size {
  width: 100%; height: 100%;
}
.full-size.absolute {
  left: 0px; top: 0px;
}
.pointer {
  cursor: pointer;
}

/* layout tags */
flex-layout {
  display: flex;
}
flex-layout.flex-center {
  align-items: center;
  justify-items: center;
  justify-content: center;
}
flex-layout.flex-stretch {
  align-items: stretch;
}
flex-layout.col {
  flex-direction: column;
}
flex-layout.row {
  flex-direction: row;
}
flex-layout.hscroll {
  overflow: auto;
  max-width: 100%;
}
flex-layout.vscroll {
  overflow: auto;
  max-height: 100%;
}
flex-layout > .flex-remain {
  flex-grow: 100;
}
