/* class shortcuts */
.absolute {
  position: absolute;
}
.block {
  display: block;
}
.contents {
  display: contents;
}
.flex {
  display: flex;
}
.flex.child-grow > * {
  flex-grow: 1;
}
.flex.col {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}
.flex-center {
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.flex-remain {
  flex-grow: 100;
}
.flex-stretch {
  align-items: stretch;
}
.full-size {
  width: 100%; height: 100%;
}
.full-size.absolute {
  left: 0px; top: 0px;
}
.pointer {
  cursor: pointer;
}
.scroll-h {
  overflow: auto;
  max-width: 100%;
}
.scroll-v {
  overflow: auto;
  max-height: 100%;
}
